body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;;
}
span.orange-color{
    color: orange;
}

section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
 width: 80%;
}

.link-button {color: white;text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;border-radius: 5px;font-size: 16px;
    font-weight: 600;margin-top: 10px;display: inline-block;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

