body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;;
}
span.orange-color{
    color: orange;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
 width: 80%;
}

.link-button {color: white;text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;border-radius: 5px;font-size: 16px;
    font-weight: 600;margin-top: 10px;display: inline-block;
    background-image: linear-gradient(orange, tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 0 0 20px #444;
    width: 40%;
    margin-left: 5%;
    margin-right: 2.5%;
    padding-left: 20px;
    border-radius: 2px;
}
.expericence-title{
    margin-left: 5%;
    font-size: 60px;
}

